{{> menu }}
{{> heading }}

<div class="columns">
  <div class="column is-5">
    <figure class="image">
      <img class="object-fit" src="/greenway.png" alt="greenway" />
    </figure>
  </div>
  <div class="column">
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-hiking" style="color: #3f836e;"></i></span><span>Please Add a Trail</span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{> placemark-form}}
        </div>
      </div>
    </div>
  </div>
</div>